@{
    ViewBag.Title = "Home";
}

<div style="background-color:  #5499c7 !important; te"class="jumbotron">
    <h1><strong>tutorHut</strong></h1>
    <p class="lead">Virtually all nomadic peoples throughout history have built huts to shelter and gather together on their journeys. Building a tutorHut allows students and tutors to connect on their shared journey of education.</p>
    <p>@Html.ActionLink("Build your hut", "Index", "Manage", null, new { @class = "btn btn-warning btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Start a new search for a tutor near you. </p>
        <p>@Html.ActionLink("Search our village", "Index", "List", null, new { @class = "btn btn-warning btn-lg"})</p>
    </div>
    <div class="col-md-4">
        <h2>Hut Manager</h2>
        <p>Edit your profile & manage your tutor requests.</p>
        <p>@Html.ActionLink("Upkeep your hut", "Index", "Profile", null, new { @class = "btn btn-warning btn-lg" })</p>
    </div>
    <div class="col-md-4">
        <h2>Meetups</h2>
        <p>View your confirmed appointments.</p>
        <p>@Html.ActionLink("See Conferences", "Index", "Manage", null, new { @class = "btn btn-warning btn-lg" })</p>
    </div>
    <div class="col-md-4">
        <h2>Resources</h2>
        <p>Search the Achievement Standards Network.</p>
        <p>@Html.ActionLink("ASN Portal", "Index", "ASNAPI", null, new { @class = "btn btn-warning btn-lg" })</p>
    </div>
</div>